.messages-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    width: 40px;  /* 프로필 사진 크기 조정 */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .message-info {
    flex: 1;
  }
  
  .message-title {
    margin: 0;
    font-weight: bold;
  }
  
  .date {
    color: #666;
  }  